body {
  background-color: lightskyblue;
}

.App {
  text-align: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.Title {
  display: flex;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 5em;
  padding-inline-start: 0%;
}

.todo-item {
  background-color: white;
  width: 200px;
  box-shadow: 0 20px 20px -10px gray;
  text-align: center;
  border-radius: 10px;
}

.urgent-input {
  display: flex;
  justify-content: center;
}

.submit {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  width: 100px;
}

.delete-button {
  background-color: rgb(247, 58, 58);
  margin-bottom: 1rem;
}