body {
  /* background-color: lightskyblue; */
  background-image: url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  overflow: hidden;
}

.App {
  text-align: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 2rem;
}

.Title {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  margin-top: 2em;
}

.todo-list {
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
  justify-content: space-between;
  margin: 5em;
  padding-inline-start: 0%;
}

.todo-item {
  background-color: white;
  width: 200px;
  box-shadow: 0 20px 20px -10px gray;
  text-align: center;
  border-radius: 10px;
}

.urgent-input {
  display: flex;
  justify-content: center;
}

.submit {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  width: 100px;
}

.delete-button {
  background-color: rgb(247, 58, 58);
  margin-bottom: 1rem;
}